.desktop-only {
  display: none;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: $dark-gray;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3 {
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
}

body>header {
  width: 100vw;

  >div.container {
    display: flex;
    flex-direction: column;

    >div#mobile-header {
      display: flex;
      justify-content: space-between;
      margin: 0 -.5rem;
      background: $brand-orange;
      border-bottom: 1px solid $dark-gray;

      >a {
        width: 30px;
        text-align: center;
        padding: .5rem;
        margin: .25rem;

        font-size: 2rem;
        color: $dark-gray;
        text-decoration: none;
      }

      >i {
        font-size: 2rem;
        border-radius: 5px;
      }
    }

    >div#logo-container {
      width: 100%;
      padding: .5rem;
      margin: 1rem 0;
      box-sizing: border-box;

      >h1 {
        width: inherit;
        margin: 0;

        >img {
          width: inherit;
          padding-right: 1.75rem;
          box-sizing: border-box;
        }
      }
    }

    >nav {
      position: absolute;
      right: 0;
      width: 0;
      height: 100vh;
      padding-top: 1rem;
      background: $white;
      z-index: 100;
      transition: width .3s linear;
      overflow: hidden;

      &.open {
        width: 100vw;
        transition: width .3s linear;
      }

      >a#close-nav-button {
        font-size: 2rem;
        padding: 1rem;
        color: $red;
      }

      >ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 1rem 0 0 0;
        list-style: none;

        >li {
          display: flex;
          border-bottom: 1px solid $dark-gray;
          background: $brand-orange;

          &:first-of-type {
            border-top: 1px solid $dark-gray;
          }

          >a {
            display: block;
            padding: 1rem 0 1rem 25%;
            width: 100%;
            text-decoration: none;
            color: $dark-gray;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.container {
  padding: 0 .5rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none !important;
  }

  body>header {
    width: 100%;

    >div.container {

     >div#logo-container {
       max-width: 300px;
       margin: 1.5rem 0;
     }

    >nav {
      position: static;
      width: 100vw;
      height: auto;
      padding: 0;
      margin: 0 -.5rem;
      border-top: 1px solid $dark-gray;
      transition: none;

      &.open {
        width: auto;
        transition: none;
      }

      >ul {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin: 0;

        >li {
          flex: 1;
          border: 1px solid $dark-gray;
          border-top: none;
          border-left: none;

          &:first-of-type {
            border-top: none;
            border-left: 1px solid $dark-gray;
          }

          >a {
            padding: .5rem 1rem;
          }
        }
      }
    }

    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  body>header {

    >div.container {

      >nav {
        max-width: 100%;
        margin: 0;
      }
    }
  }
}
