.slick-slider {
  overflow: hidden;
}

h2 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: .75rem;
}

h3 {
  margin-bottom: .5rem;
}

h3 + p {
  margin-top: 0;
}

body {
  >div#ss-banner-container {
    display: flex;
    align-items: center;
    position: relative;
    max-height: 60vh;
    overflow: hidden;

    // Remove margin from generated slick-slideshow element
    >div:first-of-type {
      margin-bottom: 0;
    }


    // Banner CTA
    >a {
      position: absolute;
      right: 1rem;
      bottom: 24px;
      padding: .8rem 1rem;
      background: $brand-orange;
      border: 1px solid $dark-gray;
      border-radius: 5px;
      box-shadow: $dark-gray 0px 5px 15px -8px;

      color: $dark-gray;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:active {
        box-shadow: $dark-gray 0px 0px 0px 0px;
      }
    }
  }

  section {
    border-bottom: 3px solid $dark-gray;
    overflow: hidden;
  }

  >main {
    // Flex column on mobile and flex row for 2 column desktop size
    display: flex;
    flex-direction: column;

    >section#about {
      padding: 3rem 1rem 4rem;
      //background: $brand-orange;

      >h2 {

        >span {
          white-space: nowrap;
        }
      }

      >p {
        text-indent: 1rem;
      }

      >ul {
        margin: 0;
      }
    }

    >section#services {
      padding: 3rem 1rem 4rem;
      background: $brand-orange;

      >h2 + p {
        margin-bottom: 3rem;
        text-align: center;
      }

      >div.service-block {
        margin-bottom: 3rem;
      }
    }
  }

  >section#instafeed-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 4rem;

    >small {
      text-align: center;

      &:first-of-type:before {
        content: 'Tap';
      }

      &:last-of-type:before {
        content: '<- swipe ->';
      }
    }

    >div {
      display: flex;
      overflow-x: scroll;

      a {
        margin-right: 1rem;
      }
    }
  }

  >section#testimonials {
    padding: 3rem 1rem 4rem;
    background: $brand-orange;

    .testimonial-slider {
      margin: 0;
    }

    blockquote>span {
      position: relative;
      left: 70%;
    }
  }

  >section#contact {
    padding: 3rem 1rem 4rem;

    >form {

      >div.form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        >label {
          text-transform: uppercase;
        }

        >input, >textarea {
          padding: .5rem;
          border: 1px solid $dark-gray;
        }

        >textarea {
          min-height: 150px;
        }

        >button {
          padding: .8rem 1rem;
          background: $brand-orange;
          border: 1px solid $dark-gray;
          border-radius: 5px;
          box-shadow: $dark-gray 0px 5px 15px -8px;

          color: $dark-gray;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;

          &:active {
            box-shadow: $dark-gray 0px 0px 0px 0px;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .mobile-only {
    display: none;
  }

  h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: .75rem;
  }

  h3 {
    margin-bottom: .5rem;
  }

  h3 + p {
    margin-top: 0;
  }

  h2, h3, h4 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  body{
    >div#ss-banner-container {

      // Banner CTA
      >a {
        font-size: 2.2rem;
      }
    }

    section {

    }

    >main {

      >section#about {
        >h2 {

          >span {

          }
        }

        >p {

        }

        >ul {
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      >section#services {
        >h2 + p {

        }

        >div.service-block {

        }
      }
    }

    >section#instafeed-section {

      >small {

        &:before {

        }
      }

      >div {

        a {
        }
      }
    }

    >section#testimonials {

      >div {
        max-width: 700px;
        margin: 0 auto;
      }

      .testimonial-slider {
        margin: 0;
      }

      blockquote {

      }

      blockquote>span {
        position: relative;
        left: 70%;
      }
    }

    >section#contact {

      >form {

        >div.form-group {

        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1440px) {

}
